<form class="{{cssClass}}" autocomplete="off">
    <aside>
        <img
            class="logo"
            src="systems/pf2e/assets/pathfinder_logo.png"
            alt=""
            srcset=""
        />
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <!-- HEALTH -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-health.html}}

            <!-- STAMINA (if enabled) -->
            {{#if_stamina}} {{>
                systems/pf2e/templates/actors/crb-style/sidebar/actor-stamina.html}}
            {{/if_stamina}}

            <!-- ARMOR CLASS -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-armorclass.html}}

            <!-- Perception -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-perception.html}}

            <!-- Class DC -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-class-dc.html}}

            <!-- Initiative -->
            {{>
              systems/pf2e/templates/actors/crb-style/sidebar/actor-initiative.html}}

            <!-- Saves -->
            {{>
              systems/pf2e/templates/actors/crb-style/sidebar/actor-saves.html}}

            <!-- Resistances -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-resistances.html}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> systems/pf2e/templates/actors/crb-style/actor-header.html}}

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation" data-group="primary">
        <a class="item active" data-tab="character">
            {{localize "PF2E.TabCharacterLabel"}}
        </a>

        <a class="item" data-tab="actions">
            {{localize "PF2E.TabActionsLabel"}}
        </a>

        <a class="item" data-tab="inventory">
            {{localize "PF2E.TabInventoryLabel"}}
        </a>

        <a class="item" data-tab="spellbook">
            {{localize "PF2E.TabSpellbookLabel"}}
        </a>

        <a class="item" data-tab="skills">
            {{localize "PF2E.TabSkillsLabel"}}
        </a>

        <a class="item" data-tab="feats">
            {{localize "PF2E.TabFeatsLabel"}}
        </a>

        <a class="item" data-tab="biography">
            {{localize "PF2E.Biography"}}
        </a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
            <!-- Character -->
            {{>
            systems/pf2e/templates/actors/crb-style/tabs/actor-character.html }}

            <!-- Actions -->
            {{> systems/pf2e/templates/actors/crb-style/tabs/actor-actions.html
            }}

            <!-- INVENTORY -->
            {{>
            systems/pf2e/templates/actors/crb-style/tabs/actor-inventory.html }}

            <!-- SPELLBOOK -->
            {{>
            systems/pf2e/templates/actors/crb-style/tabs/actor-spellbook.html }}

            <!-- SKILLS -->
            {{> systems/pf2e/templates/actors/crb-style/tabs/actor-skills.html
            }}

            <!-- FEATS -->
            {{> systems/pf2e/templates/actors/crb-style/tabs/actor-feats.html }}

            <!-- BIOGRAPHY -->
            {{>
            systems/pf2e/templates/actors/crb-style/tabs/actor-biography.html }}
        </section>
    </section>
</form>
