<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "PF2E.BrowserSearchPlaceholder"}}" title="{{localize "PF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "PF2E.FeatBrowserSearchHint"}}}
            </div>
            <dl id="sorter">
                <dt>{{localize "PF2E.BrowserSortyByLabel"}}:</dt>
                <dd><select class="null" name="sortorder">
                    <option value="true" selected>{{localize "PF2E.BrowserSortyByNameLabel"}}</option>
                    <option value="false">{{localize "PF2E.BrowserSortyByLevelLabel"}}</option>
                </select></dd>
            </dl>
<!--             <dl id="timefilter">
                <dt>Castingtime:</dt>
                <dd><select class="" name="timefilter">
                    <option value="null" selected>-</option>
                    {{#each times as |time key|}}
                    <option value="{{time}}">{{time}}</option>
                    {{/each}}
                </select></dd>
            </dl>    -->
        </div>
        <button class="clear-filters">{{localize "PF2E.BrowserClearFilters"}}</button>
<!--         <div class="filtercontainer" id="classfilter">
            <h3>Traditions</h3>
            <dl>
                {{#each traditions as |tradition key|}}
                <dt><input type="checkbox" name="traditions-{{key}}"></dt><dd>{{tradition}}</dd>
                {{/each}}
            </dl>
        </div> -->
        <div class="filtercontainer" id="featTypefilter">
            <h3>{{localize "PF2E.BrowserFilterCategory"}}</h3>
            <dl style="display:none;">
              <dt><input type="checkbox" name="featType-ancestry"></dt><dd>{{localize "PF2E.FeatAncestryHeader"}}</dd>
              <dt><input type="checkbox" name="featType-ancestryfeature"></dt><dd>{{localize "PF2E.FeaturesAncestryHeader"}}</dd>
              <dt><input type="checkbox" name="featType-archetype"></dt><dd>{{localize "PF2E.FeatArchetypeHeader"}}</dd>
              <dt><input type="checkbox" name="featType-bonus"></dt><dd>{{localize "PF2E.FeatBonusHeader"}}</dd>
              <dt><input type="checkbox" name="featType-class"></dt><dd>{{localize "PF2E.FeatClassHeader"}}</dd>
              <dt><input type="checkbox" name="featType-classfeature"></dt><dd>{{localize "PF2E.FeaturesClassHeader"}}</dd>
              <dt><input type="checkbox" name="featType-skill"></dt><dd>{{localize "PF2E.FeatSkillHeader"}}</dd>
              <dt><input type="checkbox" name="featType-general"></dt><dd>{{localize "PF2E.FeatGeneralHeader"}}</dd>
            </dl>
        </div>
        <div class="filtercontainer" id="levelfilter">
            <h3>{{localize "PF2E.BrowserFilterLevels"}}</h3>
            <dl style="display:none;">
                <dt><input type="checkbox" name="level-1"></dt><dd>{{localize "PF2E.LevelLabel"}} 1</dd>
                <dt><input type="checkbox" name="level-2"></dt><dd>{{localize "PF2E.LevelLabel"}} 2</dd>
                <dt><input type="checkbox" name="level-3"></dt><dd>{{localize "PF2E.LevelLabel"}} 3</dd>
                <dt><input type="checkbox" name="level-4"></dt><dd>{{localize "PF2E.LevelLabel"}} 4</dd>
                <dt><input type="checkbox" name="level-5"></dt><dd>{{localize "PF2E.LevelLabel"}} 5</dd>
                <dt><input type="checkbox" name="level-6"></dt><dd>{{localize "PF2E.LevelLabel"}} 6</dd>
                <dt><input type="checkbox" name="level-7"></dt><dd>{{localize "PF2E.LevelLabel"}} 7</dd>
                <dt><input type="checkbox" name="level-8"></dt><dd>{{localize "PF2E.LevelLabel"}} 8</dd>
                <dt><input type="checkbox" name="level-9"></dt><dd>{{localize "PF2E.LevelLabel"}} 9</dd>
                <dt><input type="checkbox" name="level-10"></dt><dd>{{localize "PF2E.LevelLabel"}} 10</dd>
                <dt><input type="checkbox" name="level-11"></dt><dd>{{localize "PF2E.LevelLabel"}} 11</dd>
                <dt><input type="checkbox" name="level-12"></dt><dd>{{localize "PF2E.LevelLabel"}} 12</dd>
                <dt><input type="checkbox" name="level-13"></dt><dd>{{localize "PF2E.LevelLabel"}} 13</dd>
                <dt><input type="checkbox" name="level-14"></dt><dd>{{localize "PF2E.LevelLabel"}} 14</dd>
                <dt><input type="checkbox" name="level-15"></dt><dd>{{localize "PF2E.LevelLabel"}} 15</dd>
                <dt><input type="checkbox" name="level-16"></dt><dd>{{localize "PF2E.LevelLabel"}} 16</dd>
                <dt><input type="checkbox" name="level-17"></dt><dd>{{localize "PF2E.LevelLabel"}} 17</dd>
                <dt><input type="checkbox" name="level-18"></dt><dd>{{localize "PF2E.LevelLabel"}} 18</dd>
                <dt><input type="checkbox" name="level-19"></dt><dd>{{localize "PF2E.LevelLabel"}} 19</dd>
                <dt><input type="checkbox" name="level-20"></dt><dd>{{localize "PF2E.LevelLabel"}} 20</dd>
            </dl>
        </div>
        <div class="filtercontainer" id="classfilter">
            <h3>{{localize "PF2E.BrowserFilterClassFeats"}}</h3>
            <dl style="display:none;">
                {{#each featClasses as |class key|}}
                <dt><input type="checkbox" name="classes-{{key}}"></dt><dd>{{class}}</dd>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="skillfilter">
            <h3>{{localize "PF2E.BrowserFilterSkillFeats"}}</h3>
            <dl style="display:none;">
                {{#each featSkills as |skill key|}}
                <dt><input type="checkbox" name="skills-{{key}}"></dt><dd>{{skill}}</dd>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="ancestryfilter">
            <h3>{{localize "PF2E.BrowserFilterAncestryFeats"}}</h3>
            <dl style="display:none;">
                {{#each featAncestry as |ancestry key|}}
                <dt><input type="checkbox" name="ancestry-{{key}}"></dt><dd>{{ancestry}}</dd>
                {{/each}}
            </dl>
        </div>
<!--         <div class="filtercontainer" id="schoolfilter">
            <h3>School</h3>
            <dl style="display:none;">
                {{#each schools as |school key|}}
                <dt><input type="checkbox" name="school-{{key}}"></dt><dd>{{school}}</dd>
                {{/each}}
            </dl>
        </div> -->
    </div>
    <ul>
        {{#each feats as |feat id|}}
        <li class="spell flexrow draggable" data-entry-compendium="{{feat.compendium}}" data-entry-id="{{feat._id}}" data-item-category="feats">
            <div class="spell-image">
                <img class="" src="{{feat.img}}" title="{{feat.name}}" width="32" height="32"/>
            </div>
<!--             {{#unless feat.data.actionType.img}}
            <div class="spell-image">
            </div>
            {{else}}
            <div class="spell-image">
                <img class="" src="{{feat.data.actionType.img}}" title="{{feat.data.level.value}}" width="32" height="32"/>
            </div>
            {{/unless}} -->
            <div class="spell-name">
                <span class="item-edit" ><a>{{feat.name}}</a></span>
            </div>
            <div class="spell-tags">
                <span title="Feat level">{{feat.data.level.formated}}</span>
            </div>
            {{#each feat.data as |attrib id|}}
                <input type="hidden" name="{{id}}" value="{{attrib.value}}">
            {{/each}}
        </li>
        {{/each}}
    </ul>

</div>
